
.nader {
   
    visibility: visible;
    opacity: 1;
   
}
.nader:hover{
    transform: scale(1.25);
    visibility: visible;
    opacity: 1; 
    z-index: 1;
}
.bttn{
    color:white;
    background-color: green;
    font-family: fantasy;
}